In [18]:
#importing necessary libraries
import pandas as pd
import boto3
from io import StringIO

In [19]:
#connection establishment with AWS using boto3
s3=boto3.resource(service_name='s3',
                 region_name='us-east-1',
                 aws_access_key_id='AKIA4XXOAFVGUI5BVQOA',
                 aws_secret_access_key='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')

In [20]:
# listing bucket names in s3
for bucket in s3.buckets.all():
    print(bucket.name)

bucket-demon
output-buckett

In [21]:
#checking files present in bucket-demon
for obj in s3.Bucket('bucket-demon').objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='bucket-demon', key='city.csv')
s3.ObjectSummary(bucket_name='bucket-demon', key='city_zip.csv')

In [22]:
#reading city.csv from bucket & loading it in dataframe
obj=s3.Bucket('bucket-demon').Object('city.csv').get()
city_df=pd.read_csv(obj['Body'],index_col=0)

In [23]:
#checking first 5 entries in dataframe
city_df.head()

               lat       lng      country
city
Tokyo      35.6839  139.7744        Japan
Jakarta    -6.2146  106.8451    Indonesia
Delhi      28.6667   77.2167        India
Manila     14.6000  120.9833  Philippines
São Paulo -23.5504  -46.6339       Brazil

In [24]:
#reading city_zip.csv from bucket & loading it in dataframe
obj=s3.Bucket('bucket-demon').Object('city_zip.csv').get()
city_zip_df=pd.read_csv(obj['Body'],index_col=0)

In [25]:
#checking first 5 entries in dataframe
city_zip_df.head()

           Zip iso3 admin_name  capital  population          id
city
Tokyo        5  JPN      Tōkyō  primary    39105000  1392685764
Jakarta      8  IDN    Jakarta  primary    35362000  1360771077
Delhi        7  IND      Delhi    admin    31870000  1356872604
Manila       6  PHL     Manila  primary    23971000  1608618140
São Paulo   10  BRA  São Paulo    admin    22495000  1076532519

In [26]:
#merging two dataframe
combined_df=pd.merge(city_df,city_zip_df,on='city')
combined_df

,lat,lng,country,Zip,iso3,admin_name,capital,population,id
city,,,,,,,,,
Tokyo,35.6839,139.7744,Japan,5,JPN,Tōkyō,primary,39105000,1392685764
Jakarta,-6.2146,106.8451,Indonesia,8,IDN,Jakarta,primary,35362000,1360771077
Delhi,28.6667,77.2167,India,7,IND,Delhi,admin,31870000,1356872604
Manila,14.6000,120.9833,Philippines,6,PHL,Manila,primary,23971000,1608618140
São Paulo,-23.5504,-46.6339,Brazil,10,BRA,São Paulo,admin,22495000,1076532519
...,...,...,...,...,...,...,...,...,...
Ürümqi,43.8225,87.6125,China,9,CHN,Xinjiang,admin,3112559,1156051276
Heyuan,23.7503,114.6923,China,5,CHN,Guangdong,minor,3093900,1156665165
Jaipur,26.9167,75.8667,India,6,IND,Rājasthān,admin,3073350,1356293537
Xinzhou,38.4178,112.7233,China,9,CHN,Shanxi,minor,3067501,1156617534
Wuzhou,23.4833,111.3167,China,8,CHN,Guangxi,minor,3061100,1156620133

In [27]:
#converitng datframe into csv & writing it in output bucket on AWS s3
bucket='output-buckett'
csv_buffer=StringIO()
combined_df.to_csv(csv_buffer)
s3.Object(bucket,'merged_file.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'MN93Y03G70C3T47K',
  'HostId': 'FyrNxH8V+uA7PA+0tA1H9TIeE5i57F+KYBwTjRvFcBhEZ8/4g1oAp4CAV0+CZYYiZCqAUsdUODs=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'FyrNxH8V+uA7PA+0tA1H9TIeE5i57F+KYBwTjRvFcBhEZ8/4g1oAp4CAV0+CZYYiZCqAUsdUODs=',
   'x-amz-request-id': 'MN93Y03G70C3T47K',
   'date': 'Sat, 09 Apr 2022 02:42:49 GMT',
   'etag': '"3baec3805aef06009f3ddae04e89ad12"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"3baec3805aef06009f3ddae04e89ad12"'}