In [1]:
#importing necessary libraries
import pandas as pd
import boto3
from io import StringIO

In [2]:
#connection establishment with AWS using boto3
s3=boto3.resource(service_name='s3',
                 region_name='us-east-1',
                 aws_access_key_id='AKIA4XXOAFVGUI5BVQOA',
                 aws_secret_access_key='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')

In [3]:
# listing bucket names in s3
for bucket in s3.buckets.all():
    print(bucket.name)

bucket-demon
output-buckett

In [6]:
#checking files present in bucket-demon
for obj in s3.Bucket('bucket-demon').objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='bucket-demon', key='city.csv')
s3.ObjectSummary(bucket_name='bucket-demon', key='city_zip.csv')

In [10]:
#reading city.csv from bucket & loading it in dataframe
obj=s3.Bucket('bucket-demon').Object('city.csv').get()
city_df=pd.read_csv(obj['Body'])#,index_col=0)

In [11]:
#checking first 5 entries in dataframe
city_df.head()

        city      lat       lng      country
0      Tokyo  35.6839  139.7744        Japan
1    Jakarta  -6.2146  106.8451    Indonesia
2      Delhi  28.6667   77.2167        India
3     Manila  14.6000  120.9833  Philippines
4  São Paulo -23.5504  -46.6339       Brazil

In [12]:
#reading city_zip.csv from bucket & loading it in dataframe
obj=s3.Bucket('bucket-demon').Object('city_zip.csv').get()
city_zip_df=pd.read_csv(obj['Body'])#,index_col=0)

In [13]:
#checking first 5 entries in dataframe
city_zip_df.head()

        city  Zip iso3 admin_name  capital  population          id
0      Tokyo    5  JPN      Tōkyō  primary    39105000  1392685764
1    Jakarta    8  IDN    Jakarta  primary    35362000  1360771077
2      Delhi    7  IND      Delhi    admin    31870000  1356872604
3     Manila    6  PHL     Manila  primary    23971000  1608618140
4  São Paulo   10  BRA  São Paulo    admin    22495000  1076532519

In [14]:
#merging two dataframe
combined_df=pd.merge(city_df,city_zip_df,on='city')
combined_df

,city,lat,lng,country,Zip,iso3,admin_name,capital,population,id
0,Tokyo,35.6839,139.7744,Japan,5,JPN,Tōkyō,primary,39105000,1392685764
1,Jakarta,-6.2146,106.8451,Indonesia,8,IDN,Jakarta,primary,35362000,1360771077
2,Delhi,28.6667,77.2167,India,7,IND,Delhi,admin,31870000,1356872604
3,Manila,14.6000,120.9833,Philippines,6,PHL,Manila,primary,23971000,1608618140
4,São Paulo,-23.5504,-46.6339,Brazil,10,BRA,São Paulo,admin,22495000,1076532519
...,...,...,...,...,...,...,...,...,...,...
248,Ürümqi,43.8225,87.6125,China,9,CHN,Xinjiang,admin,3112559,1156051276
249,Heyuan,23.7503,114.6923,China,5,CHN,Guangdong,minor,3093900,1156665165
250,Jaipur,26.9167,75.8667,India,6,IND,Rājasthān,admin,3073350,1356293537
251,Xinzhou,38.4178,112.7233,China,9,CHN,Shanxi,minor,3067501,1156617534
252,Wuzhou,23.4833,111.3167,China,8,CHN,Guangxi,minor,3061100,1156620133

In [15]:
#converitng datframe into csv & writing it in output bucket on AWS s3
bucket='output-buckett'
csv_buffer=StringIO()
combined_df.to_csv(csv_buffer)
s3.Object(bucket,'merged_file1.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'VBPPY8BN15DM907V',
  'HostId': 'gr0X9uEcquN18sNztAy6FXoUjwdWbcfaiKrbwQ/8LmJUGa7qJbSHR3vm1VM+sABz3C3Mu0xrWyc=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'gr0X9uEcquN18sNztAy6FXoUjwdWbcfaiKrbwQ/8LmJUGa7qJbSHR3vm1VM+sABz3C3Mu0xrWyc=',
   'x-amz-request-id': 'VBPPY8BN15DM907V',
   'date': 'Sat, 09 Apr 2022 14:37:32 GMT',
   'etag': '"cda8e3db954968a2daaa2c85ba5d8e56"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"cda8e3db954968a2daaa2c85ba5d8e56"'}